.widgetSmall {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 15px -10px rgba(0, 0, 0, 0.75);
    border: 1px solid rgb(246, 246, 246);
    margin-right: 20px;
    border-radius: 5px;
}

.widgetSmallTitle {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}

.widgetSmallImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.widgetSmallList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmallListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.widgetSmallProfile {
    display: flex;
    align-items: center;
}

.widgetSmallUser {
    display: flex;
    flex-direction: column;
}

.widgetSmallUsername {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 4px;
}

.widgetSmallUserTitle {
    font-weight: 300;
    font-size: 14px;
    color: #6d6d6d;
}

.widgetSmallButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
    font-size: 14px;
}

.widgetSmallButton:hover {
    background-color: #dec9ff;
}

.widgetSmallIcon {
    font-size: 18px !important;
    margin-right: 5px;
}