.productListItem {
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.productListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete {
    color: #ec3a3a;
    cursor: pointer;
}

.productListCreate {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #7900FF;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}